
* {
    box-sizing: border-box;
    border-radius: 5px;
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
    font-weight: 900;
    margin: 16px 40px 12px 40px;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 96, 139);
    margin: 40px 0px 16px 0px;
}

header p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 96, 139);
    font-weight: 500;
    font-size:24px;
    width: 75%;
    font-size: 20px;
    margin: auto;
    padding: auto;
}

button {
    cursor: pointer;
}

header button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    align-self: center;
    background-color: white;
    border: none;
    filter: drop-shadow(1px 2px 3px rgb(121, 152, 162));
    color: rgb(61, 96, 139);
    font-size: 24px;
    font-weight: 700;
    margin: 48px auto;
}

/* This is where quiz stuff happens */
container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: auto;
    height: auto;
    padding-top: 8px;
    /* padding-bottom: 24px; */
    margin-left: 40px;
    margin-right:40px;
    margin-bottom: 8px;
}

.quiz-area {
    display:none;
}

.timer-box h2{
    margin: 24px;
    text-align: center;
}

.timer-box {
    padding-bottom: 8px;
    display:none;
}

/* contains question and answers */
.choices {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 24px 0px;
    align-self: center;
    /* background-color: antiquewhite;  */
    width: 80%;
    /* padding: 24px;  */
}

#button-list {
    display: flex;
    flex-direction: column;  
    align-self: left;
    /* background-color: antiquewhite;  */
    width: 80%;
    /* padding: 24px;  */
}

h2 {
    font-size:32px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 96, 139);
    font-weight: 900;
    margin: 0px 0px 48px 0px;
}

/* answer buttons */
.choice {
    height: 50px;
    width: auto;
    border-radius: 10px;
    position: relative;
    align-self: flex-start;
    background-color: white;
    border: none;
    margin: 4px 0px;
    filter: drop-shadow(1px 2px 3px rgb(121, 152, 162));
    color: rgb(61, 96, 139);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding: 0px 16px;
}

.score {
    margin: 56px 0px 24px 0px;
    /* background-color: blanchedalmond; */
}

.score h3 {
    font-size: 24px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 96, 139);
    font-weight: 900;
    padding: 12px auto;
    margin: 0px;
    line-height: auto;
}